.webwelcome {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3767DA; /* The blue background color */
  z-index: 9999;
}

.webwelcome-container {
  background-color: #fff;
  color: #3767DA;
  border-radius: 10px;
  padding: 40px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.webwelcome-logo img {
  height: 60px;
  margin-bottom: 20px;
}

.webwelcome-subtitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}